<div id="logotop">
<%= image_tag("LuqySevenLogo.png", :alt => "LuqySevenLogo", :height => "40%", :width => "40%") %>
</div>
<center>
<embed src="http://www.hypergurl.com/onlinegames/space-invader/invaders.swf" menu="false" quality="high" width="960" height="720" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
</embed></br>
<%= link_to 'Back to Movie List', movies_path, :class=>"buttonLink"%>
</center>